
<!-- homepage/index.html -->
<!DOCTYPE html>
<html>
<head>
<title>indoor | Home</title>
</head>
<body>
  <script>
      {% include "homepage/index.js" %}
  </script>

  <h1></h1>
  <p>Welcome to indoor air app</p>
  <p>
      <button type="button" onclick="onLoginClick()">Login</button>
  </p>
  <p>
      <button type="button" onclick="onRegisterClick()">Register</button>
  </p>
  <p>
      <button type="button" onclick="onContactClick()">Contact</button>
  </p>
  <p>
      <button type="button" onclick="onVersionClick()">Version</button>
  </p>
  <p id = "version">Version</p>


</body>
</html>
